.header-grid {
    background: darkseagreen;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "hello ph ph ph ph blog about contact";
    align-items: center;
}

.header-grid > a {
    text-decoration: none;
    margin: 0.6rem;
    color: white;
    font-size: 1rem;
}

.hello {
    grid-area: hello;
    font-size: 2rem;
}

.blog {
    grid-area: blog;
}
.about {
    grid-area: about;
}
.contact {
    grid-area: contact;
}

.header-grid > a:hover {
    text-decoration: none;
    margin: 0.6rem;
    color: orange;
    font-size: 0.8rem;
}
